/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}
/* navbar section*/
.icon{
  margin-left: 5%;
  margin-bottom: 10px;
  display: flex;  
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icon h4{
  color: black;  
  margin-top: 5px;
}
.navbar { 
  background-color: #96C5F7;  
  height: 13%;
  top: 0;
  text-decoration: none;
}
.navbar ul {
  list-style: none;
  display: flex;
  margin: 20px 0px;
  margin-right:10%;
}
.navbar ul li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  font-weight: bold; 
  margin-bottom: 10px !important; 
  padding-bottom: 5px;
  
}
.navbar ul li a {
  text-decoration: none;
  color: black;
  padding: 4px 20px;
  transition: all.5s ease;
  justify-content: center;
  align-items: center;
  /* align-items: left;   */

}
.navbar ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  box-shadow: 0 0 15px black;
  border-radius: 10px;
}

/* home section */
#home {
  height: 50vh;
  display: flex;
  flex-direction: column;
  background-color: #A9D3FF;
  height: 740px;
  justify-content: center;
  align-items: center;
  color: white;
}
#home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #96C5F7;
  /* background: ; */
  /* background: url(images/laptopimage.jpeg) no-repeat center center/cover; */
  /* height: 800px; */

  width: 100%;
  z-index: -1;
  opacity: 0.8;
}
.main {
  display: flex;  
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;  
  font-size: 2rem;
  color: black;
  font-weight: 900;  
}

.heading {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3rem;
  margin: 40px 0px;
  text-align: center;
  padding: 20px;
  background-color: #A9D3FF;

}



/* projects section*/
#projects{  
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #A9D3FF;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    

}
.projects{
  background-color: #A9D3FF;
}
.projects h1{
text-align: center;
}
.container{ 
 position: relative;
 margin: 20px;
 display: grid;
 flex-wrap: wrap;
 grid-template-columns: auto auto auto;
 row-gap: 10%;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 background: #A9D3FF;
}
.container .card{
    position: relative;    
    cursor: pointer;
    height: 500px;
    background: #96C5F7;
}
.container .card .face{
    width: 300px;
    /* height: 250px; */
    transition: 0.5s;
}
.container .card .face.face1{
    position: relative;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 250px;
    transform: translateY(149px);
}
.container .card:hover .face.face1{
    background: black;
    transform: translateY(0);
}
.container .card .face.face1 .content{
    opacity: 0.6;
    transition: 0.5s;
}
.container .card:hover .face.face1 .content{
    opacity: 1;
}
.container .card .face.face1 .content img{
    width: 200px;
}
.container .card .face.face1 .content h5{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    z-index: 2;
    opacity: 1;
    text-align: center;
    font-size: 1.5em;
}
.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 240px;
    box-sizing: border-box;
    box-shadow: 0 10px 40px ;
    transform: translateY(-98px);
}
.container .card:hover .face.face2{
    transform: translateY(0);
}
.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}
.container .card .face.face2 .content a{
    margin-top: 20%;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: #161616;
    border: 1px solid #161616;
    border-radius: 10px;
    padding: 5px;
}
.container .card .face.face2 .content a:hover{
    background: #161616;
    color: #fff;
}


/* contact me section*/
#contact {
  display: flex;
  flex-direction: column;
  background-color: #A9D3FF;
  padding: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
  /* margin: 20px 0px; */
}
.input {
  padding: 10px;
  margin: 20px;
  width: 40%;
  border: none;
  border-radius: 10px;
  background: none;
  border: 1px solid black;
}
textarea{
  border-radius: 10px;
  background: none !important;
  border: 1px solid black !important;
}
button{
  margin-top: 5%;
}
#send:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.nav-footer{
  background: #96C5F7;
  height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;  
}
.nav-footer a{
  height: 30px;
}

.footer:hover {  
  border-radius: 5px;
    color: black;
    box-shadow: 0 0 10px black;
}

/* responsiveness */

@media screen and (max-width: 480px) {
  .navbar ul li {
    font-size: 0.6rem;
  }
  .navbar ul li a {
    padding: 10px;
    color: black;
  }
  .heading {
    font-size: 1.5rem;
    padding: 10px;
  }
  .headings {
    font-size: 1rem;
  }
  .main h3 {
    font-size: 0.8rem;
  }
  #pic img {
    width: 100px;
    height: 100px;
  }
  #intro p {
    font-size: 0.8rem;
  }
  .project p {
    font-size: 0.8rem;
  }
  .icons {
    width: 6em;
    height: 5em;
    margin-right: 30px;
    padding: 10px;
  }
  .project {
    height: 350px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, white);
    background-size: 80% 160%;
    transition: all 0.7s;
    font-weight: 500;
  }
  .input {
    width: 85%;
  }
  #msg {
    width: 85%;
  }
  #send {
    width: 40%;
  }
  .navbar ul li a:hover {    
    border-radius: 5px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
}
